.main_chat
  .group__info
    .group__info__left
      .group__info__left__name
        test
      .group__info__left__member
        .group__info__left__member__title
          Member:
        .group__info__left__member__name
          masa
       
    .group__info__right
      = link_to 'Edit', '#'


  .message-list
    .message__box
      .message__box__part
        .message__box__part__name 
          masa
        .message__box__part__time
          2019/11/20(Wed)17:43:01
      .message__box__word
        おはよう！
    .message__box
      .message__box__part
        .message__box__part__name 
          masa
        .message__box__part__time
          2019/11/20(Wed)17:43:３４
      .message__box__word
        今日から夜は雨


  .message_form


  